html {
  font-family: 'Roboto';
}

body {
  max-width: 800px;
  margin: auto; /* center alignment */
  padding: 0 15px;
  color: #484C55; /* sorta grey */
}

section header h2 {
  border-bottom: 1px solid grey;
}

section > :not(header) {
  padding: 0 15px;
}

section a {
  color: #0D79FF; /* light blue */
  text-decoration: none;
}

section ul {
  list-style: none;
}

section li:not(:last-child) {
  margin-bottom: 16px; /* copying <p> margin */
}
