@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('roboto-v20-latin-regular.woff2') format('woff2');
}

html {
  font-family: 'Roboto';
}

body {
  max-width: 800px;
  margin: auto; /* center alignment */
  padding: 0 15px;
  color: #484C55; /* sorta grey */
}

section header h2 {
  border-bottom: 1px solid grey;
}

section > :not(header) {
  padding: 0 15px;
}

section a {
  color: #0D79FF; /* light blue */
  text-decoration: none;
}

#profiles ul {
  list-style-type: none;
}

#profiles li {
  display: inline;
}

#profiles li:not(:last-child):after {
  content: ", ";
}

#projects > ul,
#work-experience > ul {
  list-style: none;
}

#projects li:not(:last-child),
#work-experience li:not(:last-child) {
  margin-bottom: 16px; /* copying <p> margin */
}
