.description
  h3 About Me
  p My name is Justin Harrison and I'm a Canadian college student
    studying computer engineering at Algonquin College in Ottawa.
  p I'm a software developer that mainly works with web and game
    development. My favourite web frameworks are Ruby on Rails,
    and Sinatra. When developing games I really love the
    SFML framework (C++), and Unreal Engine 4 (C++). But I have used
    Unity (C#) minorly in the past.
.right-bar
  h3 Profiles
  ul.profiles
    li: a href="https://github.com/matthin" GitHub
    li: a href="https://www.reddit.com/u/matthin" Reddit
    li: a href="https://rubygems.org/profiles/matthin" RubyGems
    li: a href="https://keybase.io/matthin" Keybase
    li: a href="https://stackoverflow.com/users/2239400/matthin" Stack Overflow
  h3 Contact
  .contact
    p Feel free to contact me by <a href="mailto:me@justinharrison.me">email</a>
    p If you wish to securely message me, just encode your message using my
      <a href="/.well-known/public.asc">public key</a>.

